body {
    font-family: 'Roboto', sans-serif;
}

.buttons button {
    background-color: #175282;
    border: 0;
    box-shadow: 2px 2px #888888;
    height: 2rem;
    width: 100px;
    color: white;
    border-radius: 5px;
    transition: opacity 300ms ease, transform 300ms ease-in, background-color 300ms ease;  
    margin: 0 5px; 
}

.buttons button:hover {
    opacity: .9;
    transform: scale(1.1);
    background-color: rgb(5, 128, 97);
}

.blue-eyes .eye-color {
    fill: #175282;
}

.sad .mouth {
    transform: scale(.5) rotate(180deg);
    transform-origin: 340px 390px;
}

@keyframes moveEyes {
    20% {
        transform: translate(-18px, -20px);
    }

    40% {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(18px, -20px);
    }
}

.move-around .inner-eye-group {
    animation: moveEyes 5s infinite;
}

@keyframes leftWhiskers {
    20% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }
}

.move-around .left-whiskers {
    animation: leftWhiskers 3s infinite;
    transform-origin: 325px 350px;
}

@keyframes rightWhiskers {
    5% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(7deg);
    }
}

.move-around .right-whiskers {
    animation: rightWhiskers 3s infinite;
    transform-origin: 325px 350px;
}

@keyframes move {
    20% {
        transform: rotateY(10deg) rotateX(10deg);
    }

    40% {
        transform: rotateY(25deg) rotateX(10deg);
    }

    60% {
        transform: rotateY(-10deg) rotateX(-10deg);
    }

    85% {
        transform: rotateY(-10deg) rotateX(-16deg);
    }
}

.move-around {
    animation: move 8s infinite;
}

.svg-container {
    /*The perspective value is directly proportional to views size compared to the object.*/
    perspective: 1000px;
}